*{ /* '*' is the universal selector */
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
}

/* Others are the class selector*/
.header{
    background-color: #3743fa;
    color: white;
    line-height: 30px; /* Sets the text or everything to the center, works as padding can be said */
}
.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo img, #logo img {
    background-color: rgb(221, 221, 212);
    width: 45px;
    height: 45px;
    margin-top: 8px;
}
.main-menu{
    margin-top: 15px;
}
.nav-items {
    display: flex;
    /* flex-wrap: wrap; */
}
.nav-items li{
    display: inline-block;
}
.nav-items li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.nav-items li a:hover{ /* Hover works on sub-class but here is just the class and so it will work on it as well*/
    background-color: rgb(255, 165, 2);
    color: black;
    /* transition: 0.8s ease; */
    animation: fa 0.8s;
    padding: 10px;
}
@keyframes fa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.hamburger:focus {
    outline: none;
}

.others, #others {
    display: flex;
    margin-top: 10px;
}

.search, #search {
    width: 100px;
    margin-top: 10px;
    /* display: flex;
    flex-direction: row; */
    align-items: center;
}
input[type=text] {
    width: 100%;
    height: 2.5rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1rem;
}

.upload img {
    height: 2.5rem;
    outline: none;
    border: none;
    filter: invert(100%);
    border-radius: 1.625rem;
    /* padding: 0 1.5rem 0 1.5rem; */
    margin-left: 10px;
}

/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 50px;
    height : 24px;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: #ccc; */
    background-color: #fff;
    /* background-color: red; */
    border-radius: 30px;
    border: 2px solid gray;
}    
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: gray;
    left: 4px;
    bottom: 2px;
    transition:  all 0.5s;
}
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 25px;
    background-color: #fff;
}      
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: rgb(27, 157, 27);
    border: 2px solid white;
}      
/* Checkbox vanished */
.checkbox {
    display : none;
}

.notification img {
    margin-left: 5px;
    height: 2.5rem;
    filter: invert(100%);
}

.profile img {
    height: 2.5rem;
    margin-left: 10px;
    filter: invert(100%);
}
#search, #others, #logo img {
    display: none;
}

h3 {
    color: #41464b;
    margin-top: 5%;
}

@media(max-width: 1200px) {
    .nav-items {
        display: none;
        flex-direction: column;
    }
    .nav-items.show {
        display: flex;
        /* align-items: right; */
    }
    .hamburger {
        display: block;
        /* position: relative; */
        float: left;
    }
}

@media(max-width: 578px) {
    .others, .search, .logo {
        display: none;
    }
    #others, #search {
        display: flex;
    }
    #logo img {
        display: block;
        float: right;
    }
}